---
layout: default
---

<div class="w3-container">
<p>This page is for players who are looking for a team to play for to register. It can also be used by team captains to find people who may wish to play for their team.</p>

<table class="w3-table-all">
<tr><th>Players Seeking a Team</th><th>Notes</th></tr>
<tr><td>Brian Butcher</td><td>Test data</td></tr>
</table> 
</div>
<br>

<div class="w3-container">
<p>If you are a player looking for a team to play in please complete the form here to get your name on the list.</p>

<div class="w3-panel w3-yellow">
<form action="">
First name: <input type="text" name="FirstName" value=""><br>
Last name: <input type="text" name="LastName" value=""><br>
Email: <input type="text" name="Email" value=""><br>
<input type="submit" value="Submit">
</form>
</div>

</div>

